<!DOCTYPE HTML>

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="io-block-add">

    <style>
    :host * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    </style>

    <template>
        <span>Addition +</span>
    </template>

    <script>
    Polymer({

        is: 'io-block-add',

        properties: {
            name: {
                type: String,
                value: '+'
            },
            inputs: {
                type: Array,
                readOnly: true,
                value: function () {
                    return ['i0', 'i1'];
                }
            },
            outputs: {
                type: Array,
                readOnly: true,
                value: function () {
                    return ['sum'];
                }
            },
        },

        compute: function (inputs) {
            return [inputs[0] + inputs[1]];
        }
    });
    </script>

</dom-module>
