<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<polymer-element name="io-block" draggable=false attributes="icount ocount inputs outputs">
    <template>
        <style>
            :host {
                display: block;
                position: absolute;
                background-color: white;
                z-index: 2;
            }

            core-header-panel {
                width: 150px;
                min-height: 150px;
            }

            .inputs, .outputs {
                width: 50%
            }

            .input label, .input paper-checkbox {
                margin-left: 5px;
            }

            .output label, .output paper-checkbox {
                margin-right: 5px;
            }

            .input, .output {
                margin-top: 15px;
            } 
        </style>

        <core-header-panel id="container" mode="seamed">
            <core-toolbar>
                <span flex>Block</span>
                <core-icon-button icon="menu" on-tap="{{moreAction}}"></core-icon-button>
            </core-toolbar>

            <div horizontal layout center>
                <!-- INPUTS -->
                <div vertical layout class="inputs">
                    <template repeat="{{input, index in inputs}}">
                         <div id="i{{index}}" horizontal layout class="input">
                            <paper-checkbox on-change="{{onToggleInput}}" checked?="{{inputs[index].wire}}"></paper-checkbox>
                            <label>In {{index}}</label>
                        </div>
                    </template>
                </div>

                <!-- OUTPUTS -->
                <div vertical layout class="outputs">
                    <template repeat="{{output, index in outputs}}">
                         <div id="o{{index}}" horizontal layout reverse class="output">
                            <paper-checkbox on-change="{{onToggleOutput}}" checked?="{{outputs[index].wire}}"></paper-checkbox>
                            <label>Out {{index}}</label>
                        </div>
                    </template>
                </div>
            </div>
            <span>{{compute()?"true":"false"}}</span>
        </core-header-panel>

    </template>


    <script>
    Polymer({

        icount: 1,

        ocount: 0,

        created: function () {
            this.position = {x: 0, y: 0};
        },

        ready: function () {
            var i = 0,
                inputs = [],
                outputs = [];

            while (i < this.icount) {
                inputs.push({});
                i++;
            }

            i = 0;

            while (i < this.ocount) {
                outputs.push({});
                i++;
            }

            this.inputs = inputs;
            this.outputs = outputs;
        },

        setPosition: function (x, y) {
            var style = this.style;

            //if (x) {
                style.left = x +'px';
                this.position.x = x;
            //}

            //if (y) {
                style.top = y + 'px';
                this.position.y = y;
            //}
        },

        onToggleInput: function (event, detail, sender) {
            var index, wire;

            // Remove wire
            if (!sender.checked) {
                index = IO.getIndex(sender.parentElement.id);
                wire = this.inputs[index].wire;
                this.unsetInput(index, true);
                wire.unsetInput(true);
                wire.remove();
                Manager.endAddWire() // Just in case.
            // Add wire
            } else {
                wire = Manager.currentWire;
                if (!Manager.currentWire) {
                    wire = Manager.beginAddWire();
                } else {
                    Manager.endAddWire();
                }
                wire.setOutput(this, sender.parentElement.id, true);
            }
        },

        onToggleOutput: function (event, detail, sender) {
            var index, wire;

            // Remove wire
            if (!sender.checked) {
                index = IO.getIndex(sender.parentElement.id);
                wire = this.outputs[index].wire;
                this.unsetOutput(index, true);
                wire.unsetOutput(true);
                wire.remove();
                Manager.endAddWire() // Just in case.
            // Add wire
            } else {
                wire = Manager.currentWire;
                if (!Manager.currentWire) {
                    wire = Manager.beginAddWire();
                } else {
                    Manager.endAddWire();
                }
                wire.setInput(this, sender.parentElement.id, true);
            }
        },

        setInput: function (wire, inputRef, shouldPlugWire) {
            var index = IO.getIndex(inputRef);
            this.inputs[index].wire = wire;
            if (shouldPlugWire) {
                wire.setOutput(this, 'i' + index, false);
            }
        },

        unsetInput: function (inputRef, shouldUnplugWire) {
            var input = this.inputs[IO.getIndex(inputRef)];
            if (shouldUnplugWire) {
                input.wire.unsetOutput(false);
            }
            input.wire = undefined;
            input.value = undefined;
        },

        setOutput: function (wire, outputRef, shouldPlugWire) {
            var index = IO.getIndex(outputRef);
            this.outputs[index].wire = wire;
            if (shouldPlugWire) {
                wire.setInput(this, 'o' + index, false);
            }
        },

        unsetOutput: function (outputRef, shouldUnplugWire) {
            var output = this.outputs[IO.getIndex(outputRef)];
            if (shouldUnplugWire) {
                output.wire.unsetInput(false);
            }
            output.wire = undefined;
            output.value = undefined;
        },

        compute: function () {
            return this.inputs && this.inputs[0] && this.inputs[1];
        }
    });
    </script>

</polymer-element>