<!DOCTYPE HTML>

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="io-block-supplier">

    <style>
    :host * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #amount {
        width: 100%;
    }
    </style>

    <template>
        <input id="amount" is="core-input" type="number" preventinvalidinput="" placeholder="Value" on-change="compute">
    </template>

    <script>
    Polymer({

        is: 'io-block-supplier',

        properties: {
            name: {
                type: String,
                value: 'Supplier'
            },
            inputs: {
                type: Array,
                readOnly: true,
                value: function () {
                    return [];
                }
            },
            outputs: {
                type: Array,
                readOnly: true,
                value: function () {
                    return ['count'];
                }
            },
        },

        compute: function () {
            return [parseInt(this.$.amount.value)];
        }
    });
    </script>

</dom-module>
