<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-splitter/core-splitter.html">

<polymer-element name="io-wire" attributes="input output positions">
    <template>
        <style>
            :host {
                width: auto;
                position: absolute;
                top: 50px;
                left: 50px;
                /*z-index: 1;*/
                min-width: 2px;
                min-height: 2px;
            }

            .wire {
                width: 100%;
                height: 100%;
                background-color: transparent;
            }

            .left {
                border-top: 2px solid gray;
                border-bottom: none;
            }

            .left.bottom {
                border-top: none;
                border-bottom: 2px solid gray;
            }

            .right {
                border-top: none;
                border-bottom: 2px solid gray;
            }

            .right.top {
                border-bottom: none;
                border-top: 2px solid gray;
            }

            core-splitter {
                background: none;
                box-shadow: none;
                width: 0px;
                border-left: 2px solid gray;
            }

            core-splitter:hover {
                border-left: 2px solid gray;
            }
        </style>
        <div horizontal layout class="wire">
            <div class="left 
                {{shouldReverse(positions.input.x, positions.input.y, positions.output.x, positions.output.y) ? 'bottom' : ''}}">
                &nbsp;
            </div>
            <core-splitter direction="left" ></core-splitter>
            <div flex class="right 
                {{shouldReverse(positions.input.x, positions.input.y, positions.output.x, positions.output.y) ? 'top' : ''}}">
                &nbsp;
            </div>
        </div>
    </template>


    <script>
    Polymer({

        observe: {
            'input.block.position.x': 'inputPositionChanged',
            'input.block.position.y': 'inputPositionChanged',
            'output.block.position.x': 'outputPositionChanged',
            'output.block.position.y': 'outputPositionChanged',
            'input.blockOutput.value': 'compute'
            //'output.blockInput.value': 'compute' // can't be triggered since already listen by blocks.
        },

        created: function () {
            this.positions = {
                input: {
                    x: 0,
                    y: 0
                },
                output: {
                    x:0,
                    y:0
                }
            };

            this.input = {
                block: undefined,
                blockPlug: undefined,
                blockOutput: undefined
            };

            this.output = {
                block: undefined,
                blockPlug: undefined,
                blockInput: undefined
            };
        },

        /**
         *   _      _
         * _|   or   |_
         *
         */
        shouldReverse: function (ix, iy, ox, oy) {
            return (iy > oy) ? !(ix > ox) : (ix > ox);
        },

        // inputPositionChanged: function (x, y) {
        //     if (this.isInputPlugged()) {
        //         var rect = this.input.block.$.container.querySelector('#' + this.input.blockPlug).getBoundingClientRect();
        //         this.setInputPosition(rect.left + rect.width, rect.top + rect.height/2);
        //     }
        // },

        // outputPositionChanged: function (x, y) {
        //     if (this.isOutputPlugged()) {
        //         var rect = this.output.block.$.container.querySelector('#' + this.output.blockPlug).getBoundingClientRect();
        //         this.setOutputPosition(rect.left, rect.top + rect.height/2);
        //     }
        // },

        inputPositionChanged: function () {
            this.positionChanged(true);
        },

        outputPositionChanged: function () {
            this.positionChanged(false);
        },

        positionChanged: function (isInput) {

            var rectI, rectO;

            // FIXME: need to compute the position relative to the canvas (i.e minus tool-bar height = -65).
            function getRect(io) {
                var rect = io.block.$.container.querySelector('#' + io.blockPlug).getBoundingClientRect();
                return {
                    top: rect.top - 65,
                    right: rect.right,
                    bottom: rect.bottom,
                    left: rect.left,
                    width: rect.width,
                    height: rect.height
                };
            }

            // Only input plugged
            if (this.isInputPlugged() && !this.isOutputPlugged()) {
                rectI = getRect(this.input);
                this.setInputPosition(rectI.left + rectI.width, rectI.top + rectI.height/2);
            // Only output plugged
            } else if (!this.isInputPlugged() && this.isOutputPlugged()) {
                rectO = getRect(this.output);
                this.setOutputPosition(rectO.left, rectO.top + rectO.height/2);
            // Both plugged
            } else if (this.isInputPlugged() && this.isOutputPlugged()) {
                rectI = getRect(this.input);
                rectO = getRect(this.output);

                // FIXME: find a way to avoid this test (the instruction order should not matter).
                if (isInput) {
                    this.setInputPosition(rectI.left + rectI.width, rectI.top + rectI.height/2);
                    this.setOutputPosition(rectO.left, rectO.top + rectO.height/2);
                } else {
                    this.setOutputPosition(rectO.left, rectO.top + rectO.height/2);
                    this.setInputPosition(rectI.left + rectI.width, rectI.top + rectI.height/2);
                }
            }
        },

        isInputPlugged: function () {
            return !!(this.input.block && this.input.blockPlug);
        },

        isOutputPlugged: function () {
            return !!(this.output.block && this.output.blockPlug);
        },

        setInputPosition: function (x, y) {
            var ox = this.positions.output.x,
                oy = this.positions.output.y,
                viewport = this.parentElement.getBoundingClientRect(),
                style = this.style;

            if (typeof x === 'number') {
                this.positions.input.x = x;
                if (x > ox) {
                    style.right = viewport.width - x +'px';
                } else {
                    style.left = x +'px';
                }
            }

            if (typeof y === 'number') {
                this.positions.input.y = y;
                if (y > oy) {
                    style.bottom = viewport.height - y + 'px';
                } else {
                    style.top = y + 'px';
                }
            }

        },

        setOutputPosition: function (x, y) {
            var ix = this.positions.input.x,
                iy = this.positions.input.y,
                viewport = this.parentElement.getBoundingClientRect(),
                style = this.style;

            if (typeof x === 'number') {
                this.positions.output.x = x;
                if (x > ix) {
                    style.right = viewport.width - x +'px';
                } else {
                    style.left = x +'px';
                }
            }

            if (typeof y === 'number') {
                this.positions.output.y = y;
                if (y > iy) {
                    style.bottom = viewport.height - y + 'px';

                } else {
                    style.top = y + 'px';
                }
            }

        },

        setInput: function (block, ioref, shouldPlugBlock) {
            var wInput = this.input;
            if (block && IO.isOutput(ioref)) {
                wInput.block = block;
                wInput.blockPlug = ioref;
                wInput.blockOutput = block.outputs[IO.getIndex(ioref)];
                if (shouldPlugBlock) {
                    IO.isInput(ioref) && block.setInput(this, ioref, false);
                    IO.isOutput(ioref) && block.setOutput(this, ioref, false);
                }
                this.compute();
            }
        },

        unsetInput: function (shouldUnplugBlock) {
            var wInput = this.input;
            if(shouldUnplugBlock && this.isInputPlugged()) {
                wInput.block.unsetOutput(this.input.blockPlug, false);
            }

            wInput.block = undefined;
            wInput.blockPlug = undefined;
            wInput.blockOutput = undefined;
        },

        setOutput: function (block, ioref, shouldPlugBlock) {
            var wOutput = this.output;
            if (block && IO.isInput(ioref)) {
                wOutput.blockPlug = ioref;
                wOutput.block = block;
                wOutput.blockInput = block.inputs[IO.getIndex(ioref)];
                if (shouldPlugBlock) {
                    IO.isInput(ioref) && block.setInput(this, ioref, false);
                    IO.isOutput(ioref) && block.setOutput(this, ioref, false);
                }
                this.compute();
            }
        },

        unsetOutput: function (shouldUnplugBlock) {
            var wOutput = this.output;
            if(shouldUnplugBlock && this.isOutputPlugged()) {
                wOutput.block.unsetInput(this.output.blockPlug, false);
            }
            wOutput.block = undefined;
            wOutput.blockPlug = undefined;
            wOutput.blockInput = undefined;
        },

        compute: function () {
            if (this.isInputPlugged() && this.isOutputPlugged()) {
                this.output.blockInput.value = this.input.blockOutput.value;
            }
        }

    });
    </script>

</polymer-element>