<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-splitter/core-splitter.html">

<polymer-element name="io-wire" attributes="input output positions">
    <template>
        <style>
            :host {
                width: auto;
                position: absolute;
                top: 50px;
                left: 50px;
                z-index: 1;
/*                min-width: 2px;
                min-height: 2px;*/
            }

            .wire {
                width: 100%;
                height: 100%;
                background-color: transparent;
            }

            .left {
                border-top: 2px solid gray;
                border-bottom: none;
            }

            .left.bottom {
                border-top: none;
                border-bottom: 2px solid gray;
            }

            .right {
                border-top: none;
                border-bottom: 2px solid gray;
            }

            .right.top {
                border-bottom: none;
                border-top: 2px solid gray;
            }

            core-splitter {
                background: none;
                box-shadow: none;
                width: 0px;
                border-left: 2px solid gray;
            }

            core-splitter:hover {
                border-left: 2px solid gray;
            }
        </style>
        <div horizontal layout class="wire">
            <div class="left 
                {{shouldReverse(positions.input.x, positions.input.y, positions.output.x, positions.output.y) ? 'bottom' : ''}}">
                &nbsp;
            </div>
            <core-splitter direction="left" ></core-splitter>
            <div flex class="right 
                {{shouldReverse(positions.input.x, positions.input.y, positions.output.x, positions.output.y) ? 'top' : ''}}">
                &nbsp;
            </div>
        </div>
    </template>


    <script>
    Polymer({

        positions: {
            input: {
                x: 0,
                y: 0
            },
            output: {
                x:0,
                y:0
            }
        },

        input: {
            block: undefined,
            blockPlug: undefined
        },

        output: {
            block: undefined,
            blockPlug: undefined
        },

        observe: {
            'input.block.position.x': 'inputPositionChanged',
            'input.block.position.y': 'inputPositionChanged',
            'output.block.position.x': 'outputPositionChanged',
            'output.block.position.y': 'outputPositionChanged'
        },

        created: function () {
            this.positions = {
                input: {
                    x: 0,
                    y: 0
                },
                output: {
                    x:0,
                    y:0
                }
            };

            this.input = {
                block: undefined,
                blockPlug: undefined
            };

            this.output = {
                block: undefined,
                blockPlug: undefined
            };
        },

        /**
         *   _
         * _|
         */
        shouldReverse: function (ix, iy, ox, oy) {
            return (iy > oy) ? !(ix > ox) : (ix > ox);
        },

        inputPositionChanged: function (x, y) {
            if (this.isInputPlugged()) {
                var rect = this.input.block.$.container.querySelector('#' + this.input.blockPlug).getBoundingClientRect();
                this.setInputPosition(rect.left + rect.width, rect.top + rect.height/2);
            }
        },

        outputPositionChanged: function (x, y) {
            if (this.isOutputPlugged()) {
                var rect = this.output.block.$.container.querySelector('#' + this.output.blockPlug).getBoundingClientRect();
                this.setOutputPosition(rect.left, rect.top + rect.height/2);
            }
        },

        isInputPlugged: function () {
            return !!(this.input.block && this.input.blockPlug);
        },

        isOutputPlugged: function () {
            return !!(this.output.block && this.output.blockPlug);
        },

        setInputPosition: function (x, y) {
            var ox = this.positions.output.x,
                oy = this.positions.output.y,
                viewport = document.body.getBoundingClientRect(),
                style = this.style;

            if (typeof x === 'number') {
                this.positions.input.x = x;
                if (x > ox) {
                    style.right = viewport.width - x +'px';
                } else {
                    style.left = x +'px';
                }
            }

            if (typeof y === 'number') {
                this.positions.input.y = y;
                if (y > oy) {
                    style.bottom = viewport.height - y + 'px';
                } else {
                    style.top = y + 'px';
                }
            }

        },

        setOutputPosition: function (x, y) {
            var ix = this.positions.input.x,
                iy = this.positions.input.y,
                viewport = document.body.getBoundingClientRect(),
                style = this.style;

            if (typeof x === 'number') {
                this.positions.output.x = x;
                if (x > ix) {
                    style.right = viewport.width - x +'px';
                } else {
                    style.left = x +'px';
                }
            }

            if (typeof y === 'number') {
                this.positions.output.y = y;
                if (y > iy) {
                    style.bottom = viewport.height - y + 'px';

                } else {
                    style.top = y + 'px';
                }
            }

        },

        setInput: function (block, ioref, shouldPlugBlock) {
            if (block && ioref) {
                this.input.block = block;
                this.input.blockPlug = ioref;
                if (shouldPlugBlock) {
                    IO.isInput(ioref) && block.setInput(this, ioref, false);
                    IO.isOutput(ioref) && block.setOutput(this, ioref, false);
                }
            }
        },

        unsetInput: function (shouldUnplugBlock) {
            if(shouldUnplugBlock && this.isInputPlugged()) {
                this.input.block.unsetOutput(this.input.blockPlug, false);
            }
            this.input.block = undefined;
            this.input.blockPlug = undefined;
        },

        setOutput: function (block, ioref, shouldPlugBlock) {
            if (block && ioref) {
                this.output.blockPlug = ioref;
                this.output.block = block;
                if (shouldPlugBlock) {
                    IO.isInput(ioref) && block.setInput(this, ioref, false);
                    IO.isOutput(ioref) && block.setOutput(this, ioref, false);
                }
            }
        },

        unsetOutput: function (shouldUnplugBlock) {
            if(shouldUnplugBlock && this.isOutputPlugged()) {
                this.output.block.unsetInput(this.output.blockPlug, false);
            }
            this.output.block = undefined;
            this.output.blockPlug = undefined;
        }

    });
    </script>

</polymer-element>